[run]
source = src
omit =
    */tests/*
    */__init__.py
    */__pycache__/*
    */_version.py
    */toolchain/ToolDiscovery.py
    */main.py
    */utils/logging*
    */src/pallas/tools/tool_map.py
    */src/pallas/toolchain/config.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError